.top{
    text-align: right;
    margin-bottom: 0px;
}
.top-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    border: none;
    transition: 0.15s;
}
.top-link:hover{
    color: rgb(9, 113, 113);
    cursor: pointer;
}
.top-link:active{
    opacity: 0.8;
}
.top-P{
    display: inline;
}
.title{
    background-color:rgb(9, 113, 113);
    margin-top: 2px;
    height: 120px;
    
}
.main-heading{
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 75px;
    margin-left: 30px;
    margin-top: 6px;
    padding-top: 20px;
}
.box{
    background-color: rgb(9, 113, 113);
    width: 650px;
    
}
.first-body{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    margin-left: 30px;
    width:600px;
    border-width: 10px;
    border-radius: 10px;
    border-color:rgb(9, 113, 113);
    opacity: 0.7;
    display:flex;
}
.panel-button{
    height: auto;
}